<div class="panel panel-primary"style="text-align:left">
  <div class="panel-heading">
    {{ title | translate }} {{name}}
  </div>
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-xs-4">{{'Medicine' | translate}} </label>
        <input type="text" class="form-control" [disabled]=true value={{name}}/>
      </div>
      <div class="form-group">
        <label class="col-xs-4">{{ 'Buyer' | translate }}</label>
        <input type="text" class="form-control" formControlName="buyer" #buyer/>
      </div>
      <div *ngIf="angForm.controls['buyer'].invalid && (angForm.controls['buyer'].dirty || angForm.controls['buyer'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['buyer'].errors.required">
          {{ 'buyer' | translate }}{{ ' is required' | translate }}
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-4">{{ 'Transaction date' | translate }}</label>
        <input type="date" class="form-control" formControlName="date" #date/>
      </div>
      <div *ngIf="angForm.controls['date'].invalid && (angForm.controls['date'].dirty || angForm.controls['date'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['date'].errors.required">
          {{ 'Transaction date' | translate }}{{ ' is required' | translate }}
        </div>
      </div>
      <div class="form-group" style="text-align:right">
        <button (click)="sell(buyer.value, date.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">{{ 'Sell' | translate }}</button>
        <button (click)="cancel()" class="btn btn-primary">{{ 'Cancel' | translate }}</button>
      </div>
    </form>
  </div>
</div>
