<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>


<mat-tab-group>
  <mat-tab label="one">
    <h1>Some tab content</h1>
    <p>bla bla bla</p>
  </mat-tab>
  <mat-tab label="two">
    <h1>Some more tab content</h1>
    <p>blk blk blk</p>
  </mat-tab>
  <mat-tab label="three">
    <mat-tab-group>
      <mat-tab label="three.one">
        <h1>3.1 Some more tab content</h1>
        <p>blk blk blk</p>
      </mat-tab>
      <mat-tab label="three.two">
        <h1>3.2 Some more tab content</h1>
        <p>blk blk blk</p>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>

