<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid" style="text-align:center">
  <h1>
    <div class="btn-group" class="text-right">
      <button *ngFor="let lang of supportedLangs" (click)="selectLang(lang.value)" class="btn btn-default" [class.btn-primary]="isCurrentLang(lang.value)"> {{ lang.display }} </button>
    </div>
  </h1>
  <div class="row flex row">
    <div class="col-xs-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>{{ 'Please select' | translate }}</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
            <h4><a routerLink="/sign"> {{ 'Sign product' | translate }}</a></h4>
            </li>
            <li class="list-group-item">
            <h4><a routerLink="/verify">{{ 'Verify product' | translate }}</a></h4>
            </li>
            <li class="list-group-item">
            <h4><a routerLink="/chain">{{ 'Verify chain' | translate }} </a></h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-9">
      <h4><router-outlet></router-outlet></h4>
    </div>
  </div>
</div>
