<div class="panel panel-primary"style="text-align:left">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-xs-4">Vendor name</label>
        <input type="text" class="form-control" formControlName="vendor" #vendor/>
      </div>
      <div *ngIf="angForm.controls['vendor'].invalid && (angForm.controls['vendor'].dirty || angForm.controls['vendor'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['vendor'].errors.required">
          Vendor name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-4">Produce name</label>
        <input type="text" class="form-control" formControlName="produce" #produce/>
      </div>
      <div *ngIf="angForm.controls['produce'].invalid && (angForm.controls['produce'].dirty || angForm.controls['produce'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['produce'].errors.required">
          Price is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-4">Produce quantity</label>
        <input type="text" class="form-control" formControlName="quantity" #quantity/>
      </div>
      <div *ngIf="angForm.controls['quantity'].invalid && (angForm.controls['quantity'].dirty || angForm.controls['quantity'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['quantity'].errors.required">
          Price is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-4">Transaction date</label>
        <input type="date" class="form-control" formControlName="date" #date/>
      </div>
      <div *ngIf="angForm.controls['date'].invalid && (angForm.controls['date'].dirty || angForm.controls['date'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['date'].errors.required">
          Price is required.
        </div>
      </div>
      <div class="form-group" style="text-align:right">
        <button (click)="sign(vendor.value, produce.value, quantity.value, date.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Sign</button>
      </div>
    </form>
  </div>
  <div class="panel-heading"> Result </div>
  <div class="panel-body">
    <p style="text-align:left">{{result}}</p>

    <ul>
      <li *ngFor="let x of results">{{x}}</li>
    </ul>
  </div>
</div>
