<p>
  history works!
</p>

<div class="panel panel-primary"style="text-align:left">
  <div class="panel-heading">
    {{Name}}
  </div>

  <div class="panel-heading"> {{ 'Transactions History' | translate }}</div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <th *ngFor="let col of trans_column_names">
          {{col}}
        </th>
      </tr>

      <tr *ngFor="let x of transactions" [ngClass]="!x.pending ? 'alert-success' : 'alert-warning'" role="alert">
          <td *ngFor="let col of trans_columns">
            {{x[col]}}
          </td>
          <td>
            {{x.pending ? "Pending" : "Confirmed" | translate}}
          </td>
      </tr>

    </table>
    <div class="form-group" style="text-align:right">
        <button (click)="goback()" class="btn btn-primary">{{ 'Go back' | translate }}</button>
      </div>
  </div>
</div>

